build
ant_videos
SpinnakerVideoCapture
.gitignore
.vscode
videos
labeled_images/
labeled_vids/
temp_vids/
python/YOLO_V8/ant-face-detect.v1-ant_head_v1.yolov8/
ant_face_data/
python/YOLO_V8/datasets/
python/YOLO_V8/runs/
python/YOLO_V8/yolov8s.pt
python/__pycache__/
triplet_dataset/
loss.csv
models/
clustering.png
loss.png
loss_train.png
loss_val.png
unseen_data/
unseen_images/
unseen_vids/
